In [44]:
#Specifying the input directory
input_dir = ".\\the-movies-dataset"

In [45]:
#One Time script for creating the tables
%run create_tables.py

### The steps below are an exploration of the ratings and movies datasets

In [46]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import psycopg2

print(os.listdir(input_dir))

['movies_metadata.csv', 'ratings.csv', 'ratings_small.csv']

In [47]:
# Read in the Movies Metadata and  Ratings CSV into a Pandas Dataframe
df_movies = pd.read_csv(input_dir+'\\movies_metadata.csv');
df_ratings = pd.read_csv(input_dir+'\\ratings.csv');

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [48]:
#Inspect the Movies Dataframe
df_movies.info()
#As we can see here there are plenty of rows which have null rows since there are 45466 rows and there are plenty with null columns

# checking the percentage of null values
round(100*(df_movies.isnull().sum()/len(df_movies.index)),2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

adult                     0.00
belongs_to_collection    90.12
budget                    0.00
genres                    0.00
homepage                 82.88
id                        0.00
imdb_id                   0.04
original_language         0.02
original_title            0.00
overview                  2.10
popularity                0.01
poster_path               0.85
production_companies      0.01
production_countries      0.01
release_date              0.19
revenue                   0.01
runtime                   0.58
spoken_languages          0.01
status                    0.19
tagline                  55.10
title                     0.01
video                     0.01
vote_average              0.01
vote_count                0.01
dtype: float64

In [49]:
# We wiil drop the Columns which have null values more than 0.1%
## These Columns are : 'belongs_to_collection','homepage','overview','release_date','tagline','runtime','status','production_companies','production_countries','spoken_languages','imdb_id','title','genres', 'adult'
# We will even drop Poster Path and Overview as these are not required columns
df_movies = df_movies.drop(['belongs_to_collection','homepage','overview','release_date','tagline','poster_path','overview','runtime','status','production_companies','production_countries','spoken_languages','video','imdb_id','title','genres','adult'],axis=1)
df_movies = df_movies[df_movies.isnull().sum(axis=1)<=5]

#Rename the column to movieid
df_movies.rename(columns={'id': 'movieId'}, inplace=True)

#Checking the output after column drops and renaming
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45466 entries, 0 to 45465
Data columns (total 8 columns):
budget               45466 non-null object
movieId              45466 non-null object
original_language    45455 non-null object
original_title       45466 non-null object
popularity           45461 non-null object
revenue              45460 non-null float64
vote_average         45460 non-null float64
vote_count           45460 non-null float64
dtypes: float64(3), object(5)
memory usage: 3.1+ MB

In [50]:
#Since the language has a fair number of missing columns, we are replacing it with 'en'
df_movies.loc[pd.isnull(df_movies['original_language']),['original_language']] = 'en'
# Dropping rows where revenue is missing
df_movies = df_movies[~np.isnan(df_movies.revenue)]


#converting  individual columns into data appropriate data types and replacing null values with 0
df_movies.budget =pd.to_numeric(df_movies["budget"], errors='coerce').fillna(0)
df_movies.popularity =pd.to_numeric(df_movies["popularity"], errors='coerce').fillna(0)

#Converting movieId field to a number
df_movies.movieId =pd.to_numeric(df_movies.movieId)


# checking the percentage of null values
#round(100*(df_movies.isnull().sum()/len(df_movies.index)),2)
#df_movies.info()

# Select all duplicate rows based on movieId column
df_movies[df_movies.duplicated(['movieId'])].info()
#Looks like we have about 30 duplicated rows in this dataset

#Let us drop the duplicates and keep the first one
df_movies.drop_duplicates(subset=['movieId'],keep='first',inplace=True )

#Movies Data has been cleaned up and is ready to be loaded into the Database. We are going to look at the ratings data.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 1465 to 45265
Data columns (total 8 columns):
budget               30 non-null int64
movieId              30 non-null int64
original_language    30 non-null object
original_title       30 non-null object
popularity           30 non-null float64
revenue              30 non-null float64
vote_average         30 non-null float64
vote_count           30 non-null float64
dtypes: float64(4), int64(2), object(2)
memory usage: 2.1+ KB

In [51]:
df_movies.head()

,budget,movieId,original_language,original_title,popularity,revenue,vote_average,vote_count
0,30000000,862,en,Toy Story,21.946943,373554033.0,7.7,5415.0
1,65000000,8844,en,Jumanji,17.015539,262797249.0,6.9,2413.0
2,0,15602,en,Grumpier Old Men,11.712900,0.0,6.5,92.0
3,16000000,31357,en,Waiting to Exhale,3.859495,81452156.0,6.1,34.0
4,0,11862,en,Father of the Bride Part II,8.387519,76578911.0,5.7,173.0

In [52]:
#Inspecting the ratings data frame for null values.
df_ratings.info()
df_ratings.isnull().sum()

#Drop rows with any nulls just in case since we need all the info
df_ratings.dropna()
#It appears that there are about 26M rows with no null values. Let's check for duplicates

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
userId       int64
movieId      int64
rating       float64
timestamp    int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
5              1     1968     4.0  1425942148
6              1     2762     4.5  1425941300
7              1     2918     5.0  1425941593
8              1     2959     4.0  1425941601
9              1     4226     4.0  1425942228
10             1     4878     5.0  1425941434
11             1     5577     5.0  1425941397
12             1    33794     4.0  1425942005
13             1    54503     3.5  1425941313
14             1    58559     4.0  1425942007
15             1    59315     5.0  1425941502
16             1    68358     5.0  1425941464
17             1    69844     5.0  1425942139
18             1    73017     5.0  1425942699
19             1    81834     5.0  1425942133
20             1    91500     2.5  1425942647
21             1    91542     5.0  1425942618
22             1    92439     5.0  1425941424
23             1    96821     5.0  1425941382
24             1    98809     0.5  1425942640
25             1    99114     4.0  1425941667
26             1   112552     5.0  1425941336
27             2        5     3.0   867039249
28             2       25     3.0   867039168
29             2       32     2.0   867039166
...          ...      ...     ...         ...
26024259  270896    41566     3.5  1257034128
26024260  270896    44191     5.0  1257031546
26024261  270896    44195     4.0  1257034427
26024262  270896    45499     3.0  1257034131
26024263  270896    45722     3.5  1257031715
26024264  270896    46578     4.5  1257034037
26024265  270896    48385     4.0  1257031939
26024266  270896    48394     5.0  1257031861
26024267  270896    48516     4.5  1257031526
26024268  270896    48774     5.0  1257032040
26024269  270896    48780     5.0  1257031830
26024270  270896    49272     4.0  1257031474
26024271  270896    49530     4.0  1257034436
26024272  270896    50872     5.0  1257034000
26024273  270896    50954     2.5  1257034179
26024274  270896    51255     4.5  1257033927
26024275  270896    51662     4.5  1257031928
26024276  270896    52973     3.5  1257034325
26024277  270896    53996     3.0  1257034282
26024278  270896    54001     4.0  1257034331
26024279  270896    54286     4.5  1257031701
26024280  270896    54503     4.0  1257033886
26024281  270896    55820     5.0  1257031660
26024282  270896    56174     3.5  1257034085
26024283  270896    56367     4.5  1257031529
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]

In [53]:
#Check for multiple ratings based on userId and movieId
duplicateRowsDF = df_ratings[df_ratings.duplicated(['userId' ,'movieId'])]
duplicateRowsDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 4 columns):
userId       0 non-null int64
movieId      0 non-null int64
rating       0 non-null float64
timestamp    0 non-null int64
dtypes: float64(1), int64(3)
memory usage: 0.0 bytes

In [54]:
# It appears that there are no duplicates. However in our ETL job, we would remove duplicates for movieId and userId as a user 
# cannot be allowed to rate a movie twice and we will keep the last value.
#Let us drop the duplicates and keep the first one
#df_ratings.drop_duplicates(subset=['userId' ,'movieId'],keep='last',inplace=True )
# It appears that the ratings data set is quite clean
#df_ratings.info()
df_ratings['timestamp'] =  pd.to_datetime(df_ratings['timestamp'], unit='ms')
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
userId       int64
movieId      int64
rating       float64
timestamp    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 794.2 MB

In [14]:
%run etl.py

C:\ProgramData\Anaconda3\lib\site-packages\IPython\utils\py3compat.py:188: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(compiler(f.read(), fname, 'exec'), glob, loc)

In [32]:
%sql select * from movies limit 5;

 * postgresql://udacity:***@127.0.0.1/FinalProject
5 rows affected.

[(862, 30000000, 'en', 'Toy Story', Decimal('21.946943'), Decimal('373554033.0'), Decimal('7.7'), Decimal('5415.0')),
 (8844, 65000000, 'en', 'Jumanji', Decimal('17.015539'), Decimal('262797249.0'), Decimal('6.9'), Decimal('2413.0')),
 (15602, 0, 'en', 'Grumpier Old Men', Decimal('11.7129'), Decimal('0.0'), Decimal('6.5'), Decimal('92.0')),
 (31357, 16000000, 'en', 'Waiting to Exhale', Decimal('3.859495'), Decimal('81452156.0'), Decimal('6.1'), Decimal('34.0')),
 (11862, 0, 'en', 'Father of the Bride Part II', Decimal('8.387519000000001'), Decimal('76578911.0'), Decimal('5.7'), Decimal('173.0'))]

In [55]:
%sql select * from ratings limit 5;

 * postgresql://udacity:***@127.0.0.1/FinalProject
5 rows affected.

[(18741121, 194669, 8798, 3.0, datetime.datetime(1970, 1, 13, 15, 23, 6, 277000)),
 (18741122, 194669, 8808, 3.0, datetime.datetime(1970, 1, 13, 15, 38, 23, 24000)),
 (18741123, 194669, 8833, 2.0, datetime.datetime(1970, 1, 13, 16, 0, 19, 419000)),
 (18741124, 194669, 8937, 4.0, datetime.datetime(1970, 1, 13, 16, 51, 37, 791000)),
 (18741125, 194669, 8961, 3.5, datetime.datetime(1970, 1, 13, 18, 44, 9, 547000))]